windows7[[:space:]]Security[[:space:]]Update-kb4534310-x64.msu filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
windowsxp[[:space:]]SP3-kb936929.exe filter=lfs diff=lfs merge=lfs -text
